name: Pull Request Docker Build

on:
  pull_request:
    branches:
      - '**'

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v4.1.7

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0

    - name: Build Docker image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0
      with:
        context: .
        file: ./Dockerfile
        push: false
        tags: ghcr.io/${{ github.repository }}-history-exporter:pr-${{ github.event.number }}
